<div class="management">
    <div class="dashboard">
        <div class="greeting">
            <div class="btn-nav">
                <button class="nav" routerLink="../Reports">← Reports</button>
                <button class="nav" routerLink="../">Dashboard → </button>
              </div>
          <p>Statistic:</p>
        </div>
      
        <div class="options">
          <div class="option" routerLink="./Specialization">
            <img
              src="../../assets/doctor/specialization.png"
             
            >
      
            <p>Specialization            </p>
          </div>
          <div class="option" routerLink="./Disease">
            <img
              src="../../assets/doctor/disease.png"
             
            >
      
            <p>Disease
            </p>
          </div>
      
    
        </div>
      </div>
      
    </div>