.dashboard {
    text-align: center;
    padding: 200px 20px; 
  }
  
  .greeting h1 {
    font-size: 3rem; 
    margin-bottom: 40px; 
  }
  
  .greeting p {
    font-size: 1.5rem;
    color: #555;
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 100px; 
    margin-top: 40px;
  }
  
  .option {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .option:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .option-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .option p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
  }
  
  video {
    width: 120px; 
    height: 120px;
    border-radius: 8px;
    margin: 20px 25px;
  }
  