<footer class="footer">
    <div class="footer-content">
        <!-- Left Section -->
        <div class="footer-left">
            <div class="contact-item">
                <mat-icon style="color: #8b61c2;">contact_phone</mat-icon>
                <span style="color: #8b61c2;">0748 131 343</span>
            </div>
            <a href="mailto:contact&#64;medicland.com" class="email-link">
                <mat-icon style="color: #5b6467;">mail</mat-icon>
                <span style="color: #5b6467;">contact&#64;medicland.com</span>
            </a>
        </div>

        <!-- Center Section -->
        <div class="footer-center">
            <video class="logo" src="../assets/logo.mp4" type="video/mp4" loop autoplay [muted]="true"></video>
        </div>

        <!-- Right Section -->
        <div class="footer-right">
            <a href="https://www.google.com/maps/place/Bulevardul+Vasile+P%C3%A2rvan+2,+Timi%C8%99oara/@45.7468409,21.2247008,17z/data=!3m1!4b1!4m6!3m5!1s0x47455d839fecfa97:0x31d3ec9211d27924!8m2!3d45.7468372!4d21.2272757!16s%2Fg%2F11c27sllyd?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                target="_blank" class="address-link location-text">
                <mat-icon>location_on</mat-icon>
                Bulevardul Vasile Pârvan 2, Timișoara
                <img src="../assets/footer-location.png" alt="location" class="location-img">
            </a>
        </div>
    </div>

    <!-- Bottom Section -->
    <div class="footer-bottom">
        <p>© 2025 Medic Land. Toate drepturile sunt rezervate</p>
    </div>
</footer>